*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f0;
    line-height: 1.3;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
}

header {
    text-align: center;
    background-color: #4d4b4b;
    padding: 10px;
    color: #f2f2f0;
    margin-bottom: 40px;
}

a {
    color: red;
}

.container {
    margin: 0 auto;
    width: 80%;
}

#main-bio {
    float: left;
    width: 60%;
}

h2 {
    margin-bottom: 20px;
}

#main-bio img {
    float: left;
}

#main-bio p {
    display: flow-root;
    padding: 0 20px;
}

#contact-info {
    float: right;
    width: 30%;
}

ul {
    list-style-position: inside;
}